body {
  font-family: sans-serif;
}

video {
  max-width: 100%;
  width: 320px;
  border-color: blue;
  padding: 10px;
  border-radius: 2px;
  background-color:#ff6b81;
  margin: 10px;
  transform: rotateY(180deg);
}

h1{
  color: red;
}

#videos{
  background-color: #f1f2f6;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #2ed573;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 2px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* If video needs some Shades use following code
video {
filter: blur(4px) invert(1) opacity(0.5);
}
*/


/*------Motion Detecto css*/


/*
#webCamWindow {
	border: 1px solid #000;
	width: 640px;
	height:  480px;
	position: absolute;
	top: 0;
	opacity: 1;
	left: 0;	
}

#canvas {
	position: absolute;
	opacity: 1;
	top: 0;
	left: 0;
	width: 640px;
	height:  480px;
}

*/


#movement {
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid red;
  background: rgba(255,0,0,0.3);

}